.controls {
    font: 400 5vh Arial!important;
}

.container {
    border: 1px solid black;
    display: inline-block;
    position: relative;
}

#bodyImage {

}

#mouthImage {
    position: absolute;
    transform: translate(-50%, -50%);
}